modules/backend-api-rest/src/main/java/org/opencps/api/test/model/test_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
    <xsd:element name="TestConfigModel">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serverNo" type="xsd:normalizedString" minOccurs="0" />
                <xsd:element name="serverName" type="xsd:token" minOccurs="0" />
                <xsd:element name="serverId" type="xsd:int" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>