modules/backend-api-rest/src/main/resources/dossiermgt_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<xsd:element name="DossierSearchModel">
		<xsd:complexType>
			<xsd:sequence>
				<!-- default -->
				<xsd:element name="keyword" type="xsd:string" minOccurs="0" />
				<xsd:element name="start" type="xsd:int" minOccurs="0" />
				<xsd:element name="end" type="xsd:int" minOccurs="0" />
				<xsd:element name="sort" type="xsd:string" minOccurs="0" />
				<xsd:element name="order" type="xsd:string" minOccurs="0" />
	
				<xsd:element name="status" type="xsd:string" minOccurs="0" />
				<xsd:element name="substatus" type="xsd:string" minOccurs="0" />
				<xsd:element name="agency" type="xsd:string" minOccurs="0" />
				<xsd:element name="service" type="xsd:string" minOccurs="0" />
				<xsd:element name="template" type="xsd:string" minOccurs="0" />
				<xsd:element name="year" type="xsd:int" minOccurs="0" />
				<xsd:element name="month" type="xsd:int" minOccurs="0" />
				<xsd:element name="owner" type="xsd:string" minOccurs="0" />
				<xsd:element name="follow" type="xsd:string" minOccurs="0" />
				<xsd:element name="step" type="xsd:string" minOccurs="0" />
				<xsd:element name="submitting" type="xsd:string" minOccurs="0" />
				<xsd:element name="top" type="xsd:string" minOccurs="0" />
				<xsd:element name="state" type="xsd:string" minOccurs="0" />
				<xsd:element name="so_chung_chi" type="xsd:string" minOccurs="0" />
				<xsd:element name="fromReceiveDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="toReceiveDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="tu_ngay_ky_cc" type="xsd:string" minOccurs="0" />
				<xsd:element name="den_ngay_ky_cc" type="xsd:string" minOccurs="0" />				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="DossierDataModel">
		<xsd:sequence>
			<xsd:element name="dossierIdCTN" type="xsd:int" minOccurs="0" />
			<xsd:element name="dossierId" type="xsd:int" minOccurs="0" />
			<xsd:element name="createDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="modifiedDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="referenceUid" type="xsd:string" minOccurs="0" />
			<xsd:element name="counter" type="xsd:int" minOccurs="0" />
			<xsd:element name="serviceCode" type="xsd:string" minOccurs="0" />
			<xsd:element name="serviceName" type="xsd:string" minOccurs="0" />
			<xsd:element name="govAgencyCode" type="xsd:string" minOccurs="0" />
			<xsd:element name="govAgencyName" type="xsd:string" minOccurs="0" />
			<xsd:element name="applicantName" type="xsd:string" minOccurs="0" />
			<xsd:element name="applicantIdType" type="xsd:string" minOccurs="0" />
			<xsd:element name="applicantIdNo" type="xsd:string" minOccurs="0" />
			<xsd:element name="applicantIdDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="dossierNo" type="xsd:string" minOccurs="0" />
			<xsd:element name="applicantNote" type="xsd:string" minOccurs="0" />
			<xsd:element name="briefNote" type="xsd:string" minOccurs="0" /> 
			<xsd:element name="submitDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="receiveDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="dueDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="releaseDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="finishDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="dossierStatus" type="xsd:string" minOccurs="0" />
			<xsd:element name="dossierStatusText" type="xsd:string" minOccurs="0" /> 
			<xsd:element name="dossierSubStatus" type="xsd:string" minOccurs="0" />
			<xsd:element name="dossierSubStatusText" type="xsd:string" minOccurs="0" /> 
			<xsd:element name="dossierOverdue" type="xsd:string" minOccurs="0" />
			<xsd:element name="submitting" type="xsd:string" minOccurs="0" /> 
			<xsd:element name="permission" type="xsd:string" minOccurs="0" />
			<xsd:element name="lastActionDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="lastActionCode" type="xsd:string" minOccurs="0" />
			<xsd:element name="lastActionName" type="xsd:string" minOccurs="0" />
			<xsd:element name="lastActionUser" type="xsd:string" minOccurs="0" />
			<xsd:element name="lastActionNote" type="xsd:string" minOccurs="0" />
			<xsd:element name="stepCode" type="xsd:string" minOccurs="0" />
			<xsd:element name="stepName" type="xsd:string" minOccurs="0" />
			<xsd:element name="stepDuedate" type="xsd:string" minOccurs="0" />
			<xsd:element name="stepOverdue" type="xsd:string" minOccurs="0" />
			<xsd:element name="visited" type="xsd:string" minOccurs="0" />
			<xsd:element name="pending" type="xsd:string" minOccurs="0" />
			<xsd:element name="online" type="xsd:string" minOccurs="0" />
			<xsd:element name="hasPassword" type="xsd:string" minOccurs="0" />
			<xsd:element name="certNumber" type="CertNumberModel" minOccurs="0" maxOccurs="unbounded"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DossierResultsModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" minOccurs="0" />
				<xsd:element name="data" type="DossierDataModel" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

		<xsd:complexType name="CertNumberModel">
		<xsd:sequence>
			<xsd:element name="certNo" type="xsd:string" minOccurs="0" />
			<xsd:element name="certDate" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DossierInputModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="referenceUid" type="xsd:string" minOccurs="0" />
				<xsd:element name="serviceCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="govAgencyCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="dossierTemplateNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantName" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantIdType" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantIdNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantIdDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="address" type="xsd:string" minOccurs="0" />
				<xsd:element name="cityCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="districtCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="wardCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="contactName" type="xsd:string" minOccurs="0" />
				<xsd:element name="contactTelNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="contactEmail" type="xsd:string" minOccurs="0" />
				<xsd:element name="password" type="xsd:string" minOccurs="0" />
				<xsd:element name="online" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	

	<xsd:element name="DossierDetailModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dossierId" type="xsd:int" minOccurs="0" />
				<xsd:element name="userId" type="xsd:int" minOccurs="0" />
				<xsd:element name="userName" type="xsd:string" minOccurs="0" />
				<xsd:element name="createDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="modifiedDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="referenceUid" type="xsd:string" minOccurs="0" />
				<xsd:element name="counter" type="xsd:int" minOccurs="0" />
				<xsd:element name="serviceCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="serviceName" type="xsd:string" minOccurs="0" />
				<xsd:element name="govAgencyCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="govAgencyName" type="xsd:string" minOccurs="0" />
				<xsd:element name="dossierTemplateNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantName" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantIdType" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantIdNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantIdDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="address" type="xsd:string" minOccurs="0" />
				<xsd:element name="cityCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="cityName" type="xsd:string" minOccurs="0" />
				<xsd:element name="districtCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="districtName" type="xsd:string" minOccurs="0" />
				<xsd:element name="wardCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="wardName" type="xsd:string" minOccurs="0" />
				<xsd:element name="contactName" type="xsd:string" minOccurs="0" />
				<xsd:element name="contactTelNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="contactEmail" type="xsd:string" minOccurs="0" />
				<xsd:element name="dossierNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="submissionNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="briefNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="dossierNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="submitting" type="xsd:string" minOccurs="0" />
				<xsd:element name="submitDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="receiveDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="dueDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="releaseDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="finishDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="cancellingDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="correctingDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="dossierStatus" type="xsd:string" minOccurs="0" />
				<xsd:element name="dossierStatusText" type="xsd:string" minOccurs="0" /> 
				<xsd:element name="dossierSubStatus" type="xsd:string" minOccurs="0" />
				<xsd:element name="dossierSubStatusText" type="xsd:string" minOccurs="0" />
				<xsd:element name="viaPostal" type="xsd:string" minOccurs="0" />
				<xsd:element name="postalAddress" type="xsd:string" minOccurs="0" /> 
				<xsd:element name="postalCityCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="postalCityName" type="xsd:string" minOccurs="0" />
				<xsd:element name="postalTelNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="permission" type="xsd:string" minOccurs="0" />
				<xsd:element name="lastActionDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="lastActionCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="lastActionName" type="xsd:string" minOccurs="0" />
				<xsd:element name="lastActionUser" type="xsd:string" minOccurs="0" />
				<xsd:element name="lastActionNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="stepCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="stepName" type="xsd:string" minOccurs="0" />
				<xsd:element name="stepInstruction" type="xsd:string" minOccurs="0" />
				<xsd:element name="stepDuedate" type="xsd:string" minOccurs="0" />
				<xsd:element name="stepOverdue" type="xsd:string" minOccurs="0" />
				<xsd:element name="visited" type="xsd:string" minOccurs="0" />
				<xsd:element name="pending" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="notification" type="xsd:string" minOccurs="0" />
				<xsd:element name="online" type="xsd:string" minOccurs="0" />
				<xsd:element name="dossierActionId" type="xsd:int" minOccurs="0" />
				<xsd:element name="lockState" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="DoActionModel">
		<xsd:complexType>
			<xsd:sequence>
				<!-- default -->
				<xsd:element name="actionCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="actionUser" type="xsd:string" minOccurs="0" />
				<xsd:element name="actionNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="assignUserId" type="xsd:int" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>