modules/backend-api-rest/src/main/resources/error_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<xsd:element name="ErrorMsg">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="message" type="xsd:string" minOccurs="0" />
				<xsd:element name="code" type="xsd:int" minOccurs="0" />
				<xsd:element name="description" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>