modules/backend-api-rest/src/main/resources/paymentfile_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xsd:schema [
		<!ELEMENT xsd:schema (xsd:element|xsd:complexType)*>
		<!ATTLIST xsd:schema
				xmlns:xsd CDATA #REQUIRED>
		<!ELEMENT xsd:element (xsd:complexType)*>
		<!ATTLIST xsd:element
				maxOccurs CDATA #IMPLIED
				minOccurs CDATA #IMPLIED
				name CDATA #REQUIRED
				type CDATA #IMPLIED>
		<!ELEMENT xsd:complexType (xsd:sequence)*>
		<!ATTLIST xsd:complexType
				name CDATA #IMPLIED>
		<!ELEMENT xsd:sequence (xsd:element)*>
		]>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<xsd:element name="PaymentFileSearchModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="service" type="xsd:string" minOccurs="0" />
				<xsd:element name="agency" type="xsd:string" minOccurs="0" />
				<xsd:element name="keyword" type="xsd:string" minOccurs="0" />
				<xsd:element name="status" type="xsd:string" minOccurs="0" />
				<xsd:element name="start" type="xsd:int" minOccurs="0" />
				<xsd:element name="end" type="xsd:int" minOccurs="0" />
				<xsd:element name="sort" type="xsd:string" minOccurs="0" />
				<xsd:element name="order" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PaymentFileInputModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="referenceUid" type="xsd:string" minOccurs="0" />
				<xsd:element name="paymentFee" type="xsd:string" minOccurs="0" />
				<xsd:element name="paymentAmount" type="xsd:long" minOccurs="0" />
				<xsd:element name="advanceAmount" type="xsd:long" minOccurs="0" />
				<xsd:element name="feeAmount" type="xsd:long" minOccurs="0" />
				<xsd:element name="serviceAmount" type="xsd:long" minOccurs="0" />
				<xsd:element name="shipAmount" type="xsd:long" minOccurs="0" />
				<xsd:element name="paymentNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="epaymentProfile" type="xsd:string" minOccurs="0" />
				<xsd:element name="bankInfo" type="xsd:string" minOccurs="0" />
				<xsd:element name="confirmNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="paymentMethod" type="xsd:string" minOccurs="0" />
				<xsd:element name="confirmPayload" type="xsd:string" minOccurs="0" />
				<xsd:element name="approveDatetime" type="xsd:string" minOccurs="0" />
				<xsd:element name="accountUserName" type="xsd:string" minOccurs="0" />
				<xsd:element name="govAgencyTaxNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoiceTemplateNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoiceIssueNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoiceNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoicePayload" type="xsd:string" minOccurs="0" />
				<xsd:element name="einvoice" type="xsd:string" minOccurs="0" />
				<xsd:element name="confirmFileEntryId" type="xsd:long" minOccurs="0" />
				<xsd:element name="paymentStatus" type="xsd:int" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="PaymentFileModel">
		<xsd:sequence>
			<xsd:element name="createDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="modifiedDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="referenceUid" type="xsd:string" minOccurs="0" />
			<xsd:element name="govAgencyCode" type="xsd:string" minOccurs="0" />
			<xsd:element name="govAgencyName" type="xsd:string" minOccurs="0" />
			<xsd:element name="applicantName" type="xsd:string" minOccurs="0" />
			<xsd:element name="applicantIdNo" type="xsd:string" minOccurs="0" />
			<xsd:element name="isNew" type="xsd:int" minOccurs="0" />
			<xsd:element name="paymentFee" type="xsd:string" minOccurs="0" />
			<xsd:element name="advanceAmount" type="xsd:string" minOccurs="0" />
			<xsd:element name="feeAmount" type="xsd:string" minOccurs="0" />
			<xsd:element name="serviceAmount" type="xsd:string" minOccurs="0" />
			<xsd:element name="shipAmount" type="xsd:string" minOccurs="0" />
			<xsd:element name="paymentAmount" type="xsd:long" minOccurs="0" />
			<xsd:element name="paymentNote" type="xsd:string" minOccurs="0" />
			<xsd:element name="bankInfo" type="xsd:string" minOccurs="0" />
			<xsd:element name="epaymentProfile" type="xsd:string" minOccurs="0" />
			<xsd:element name="paymentStatus" type="xsd:int" minOccurs="0" />
			<xsd:element name="paymentMethod" type="xsd:string" minOccurs="0" />
			<xsd:element name="confirmDatetime" type="xsd:string" minOccurs="0" />
			<xsd:element name="confirmPayload" type="xsd:string" minOccurs="0" />
			<xsd:element name="confirmFileType" type="xsd:string" minOccurs="0" />
			<xsd:element name="confirmFileSize" type="xsd:long" minOccurs="0" />
			<xsd:element name="confirmNote" type="xsd:string" minOccurs="0" />
			<xsd:element name="approveDatetime" type="xsd:string" minOccurs="0" />
			<xsd:element name="accountUserName" type="xsd:string" minOccurs="0" />
			<xsd:element name="govAgencyTaxNo" type="xsd:string" minOccurs="0" />
			<xsd:element name="invoiceTemplateNo" type="xsd:string" minOccurs="0" />
			<xsd:element name="invoiceIssueNo" type="xsd:string" minOccurs="0" />
			<xsd:element name="invoiceNo" type="xsd:string" minOccurs="0" />
			<xsd:element name="invoicePayload" type="xsd:string" minOccurs="0" />
			<xsd:element name="einvoice" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

		<xsd:complexType name="PaymentFileSearchTemplateModel">
			<xsd:sequence>
				<xsd:element name="dossierId" type="xsd:long" minOccurs="0" />
				<xsd:element name="dossierNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="counter" type="xsd:int" minOccurs="0" />
				<xsd:element name="serviceCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="serviceName" type="xsd:string" minOccurs="0" />
				<xsd:element name="referenceUid" type="xsd:string" minOccurs="0" />
				<xsd:element name="createDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="modifiedDate" type="xsd:string" minOccurs="0" />
				<xsd:element name="govAgencyCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="govAgencyName" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantName" type="xsd:string" minOccurs="0" />
				<xsd:element name="applicantIdNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="isNew" type="xsd:boolean" minOccurs="0" />
				<xsd:element name="paymentFee" type="xsd:string" minOccurs="0" />
				<xsd:element name="paymentAmount" type="xsd:int" minOccurs="0" />
				<xsd:element name="paymentNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="bankInfo" type="xsd:string" minOccurs="0" />
				<xsd:element name="epaymentProfile" type="xsd:string" minOccurs="0" />
				<xsd:element name="paymentStatus" type="xsd:int" minOccurs="0" />
				<xsd:element name="paymentMethod" type="xsd:string" minOccurs="0" />
				<xsd:element name="confirmDatetime" type="xsd:string" minOccurs="0" />
				<xsd:element name="confirmPayload" type="xsd:string" minOccurs="0" />
				<xsd:element name="confirmFileType" type="xsd:string" minOccurs="0" />
				<xsd:element name="confirmFileSize" type="xsd:long" minOccurs="0" />
				<xsd:element name="confirmNote" type="xsd:string" minOccurs="0" />
				<xsd:element name="approveDatetime" type="xsd:string" minOccurs="0" />
				<xsd:element name="accountUserName" type="xsd:string" minOccurs="0" />
				<xsd:element name="govAgencyTaxNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoiceTemplateNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoiceIssueNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoiceNo" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoiceFileType" type="xsd:string" minOccurs="0" />
				<xsd:element name="invoiceFileSize" type="xsd:long" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	<xsd:complexType name="KeyPayResultInput">
		<xsd:sequence>
			<xsd:element name="paymentPortal" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="actionCode" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="dossierId" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="goodCode" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="transId" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="referenceUid" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="command" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="merchantTransId" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="merchantCode" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="responseCode" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="transId2" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="netCost" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="shipFee" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="tax" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="serviceCode" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="bankCode" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="desc1" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="desc2" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="desc3" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="desc4" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="desc5" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="customerPhoneNumber" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="customerName" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="customerAddress" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="customerEmail" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="secureHash" type="xsd:string"  minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PaymentFileResultModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" minOccurs="0" />
				<xsd:element name="data" minOccurs="0" maxOccurs="unbounded" type="PaymentFileModel"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PaymentFileSearchResultModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" minOccurs="0" />
				<xsd:element name="data" minOccurs="0" maxOccurs="unbounded" type="PaymentFileSearchTemplateModel"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="EpaymentProfileJsonModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="value" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>